body {
    position: fixed;
    height: 100%;
}

#wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #686868;
}

div#canvas {
    position: absolute;
    top: 10%;
    left: 10%;
}

#not-wrap {
    position: fixed;
    top: 0;
    height: 100%;
    left: 50%;
    width: 50%;
    background: #6666CC;
}