body {
    position: fixed;
    height: 100%;
}

#wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #660066;
}

div#canvas {
    position: absolute;
    top: 10%;
    left: 10%;
}

#not-wrap {
    position: fixed;
    top: 0;
    height: 100%;
    left: 50%;
    width: 50%;
    background: #6666CC;
}

#robo-bod {
    border: 5px solid red;
    -moz-box-shadow: 3px 3px 5px #777;
    -webkit-box-shadow: 3px 3px 5px #777;
    box-shadow: 3px 3px 5px #777;
}