[submodule "js/blockly"]
	path = js/blockly
	url = https://github.com/google/blockly.git
[submodule "js/closure-library"]
	path = js/closure-library
	url = https://github.com/google/closure-library.git
